
:root {
  --color-bg: #fff;
  --color-primary: #4fc9da;
  --color-accent: #e2c41c;
  --color-txt-primary: #333;
  --color-txt-secondary: #555;
  --color-txt-nav: #fff;
  --color-bg-nav-1: #9fb8ad;
  --color-bg-nav-2: #1fc8db;
  --color-bg-nav-3: #2cb5e8;
}
