
:root {
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1.5rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-border-radius: 0.4rem;
  --spacing-border-radius-s: 0.2rem;
}


$type-spacing: ("pd": "padding", "mg": "margin");
$size-spacing: ("xxs": var(--spacing-xxs), "xs": var(--spacing-xs), "s": var(--spacing-s), "m": var(--spacing-m), "l": var(--spacing-l), "xl": var(--spacing-xl));
$direction-spacing: ('left', 'right', 'top', 'bottom');

// this method adds a class for each direction, type of spacing and size

// e.g. $type-name -> pd, $type-var -> padding
@each $type-name, $type-var in $type-spacing {
	// e.g. $size-name -> xs, $size-var -> var(--spacing-xs)
	@each $size-name, $size-var in $size-spacing {
		// e.g .pd-s { padding: var(--spacing-s); }
		.#{$type-name}-#{$size-name} {
			#{$type-var}: $size-var
		}
		// e.g $direction -> top
		@each $direction in $direction-spacing {
			// e.g .pd-top-s { padding-top: var(--spacing-s); }
			.#{$type-name}-#{$direction}-#{$size-name} {
				#{$type-var}-#{$direction}: $size-var;
			}
		}
	}
}

// for vertical and horizontal directions
// e.g. $type-name -> pd, $type-var -> padding
@each $type-name, $type-var in $type-spacing {
	// e.g. $size-name -> xs, $size-var -> var(--spacing-xs)
	@each $size-name, $size-var in $size-spacing {
		// e.g .pd-v-s { padding: var(--spacing-s) 0; }
		.#{$type-name}-v-#{$size-name} {
			margin-top: $size-var;
			margin-bottom: $size-var;
		}

		// e.g .pd-h-s { padding: 0 var(--spacing-s); }
		.#{$type-name}-h-#{$size-name} {
			margin-right: $size-var;
			margin-left: $size-var;
		}

	}
}
