:host {
  display: flex;
  
  .content {
    background: var(--color-primary);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--spacing-border-radius);
    color: white;
    .mine {
      background: var(--color-secondary);
    }
  }

  app-user-picture {
    margin-right: var(--spacing-m);
    cursor: pointer;
  }

  .author {
    font-weight: bold;
  }

  .mine {
    // so we override the style color
    background: #dcdcdc!important;
    color: #333!important;
  }
}

