<app-user-picture 
  [url]="message?.createdBy?.image"
  [matTooltip]="mine ? 'This is you' : 'Send nano to ' + message?.createdBy?.username"
  (click)="sendNanoClick()">
</app-user-picture>

<div 
  class="content pointer" 
  [ngClass]="{ 'mine': mine }" 
  [ngStyle]="{ 'background': color }"
  [matTooltip]="mine ? 'This is you' : 'Send nano to ' + message?.createdBy?.username"
  (click)="sendNanoClick()">
  <div 
    class="flexBetween"
    *ngIf="message?.createdBy?.username as username">
    <div class="author">{{ username }}</div>
    <div class="time">{{ message?.createdAt | timeAgo }}</div>
  </div>
  <div>
    {{ message?.content }}
  </div>
</div>
