:host {
  display: flex;
  .content {
    background: var(--color-primary);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--spacing-border-radius);
    .mine {
      background: var(--color-secondary);
    }
  }
  app-user-picture {
    margin-right: var(--spacing-m);
  }

}

