

<!-- <mat-card> -->
  <ng-container *ngIf="!pending">
    <form (ngSubmit)="submit()" class="flexColumn flexCenter">
    <!-- <mat-card-title> -->
      <h3>
        Pick an username
      </h3>
    <!-- </mat-card-title> -->
      <mat-form-field class="light" appearance="fill" [hideRequiredMarker]="true">
        <mat-label>Username</mat-label>
        <input matInput autofocus placeholder="NanoRockstar" [formControl]="usernameCtrl" required>
      </mat-form-field>
  
      <button type="submit" mat-raised-button *ngIf="usernameCtrl.valid">Let's gooo!</button>
    </form>


  </ng-container>
  
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
<!-- </mat-card> -->