

  <ng-container *ngIf="!( pending$ | async); else spinner">
    <form (ngSubmit)="submit()" class="flexColumn flexCenter">

      <h3>
        Pick an username
      </h3>

      <mat-form-field class="light" appearance="fill" [hideRequiredMarker]="true">
        <mat-label>Username</mat-label>
        <input matInput autofocus placeholder="NanoRockstar" [formControl]="usernameCtrl" required>
      </mat-form-field>
  
      <button type="submit" mat-raised-button *ngIf="usernameCtrl.valid">Let's gooo!</button>
    </form>


  </ng-container>
  
  <ng-template #spinner>
    <mat-spinner class="light"></mat-spinner>
  </ng-template>
