

  
<div class="flexBetween top">
  <h2>Nano Wallet:</h2> 
  <div>
    <button 
      mat-raised-button 
      color="accent" 
      (click)="openSendDlg()">
      Withdraw
    </button>
  </div>
</div>

<div class="info">

  <div>
    <div class="balance chip z-1" >
      {{ walletSrv.balance}} Nano
    </div>
  </div>

  <div>
    <div class="address chip z-1 pointer" (click)="openAddressDlg()">
      <fa-icon [icon]="faEye"></fa-icon> 
      {{ walletSrv.address }}
    </div>
  </div>

  <div>
    <div class="chip pointer z-1" (click)="openSeedDlg()">
       <fa-icon [icon]="faEye"></fa-icon> 
       seed
    </div>
  </div>
  
</div>


      




