<ng-container *ngIf="walletSrv.walletStatus$ | async as status">
  <ng-container *ngIf="status === 'pending'">
    Searching your wallet, please hold...
  </ng-container>
  <ng-container *ngIf="status === 'lost'">
    Seems like you lost your wallet. If you backed you'll have to wait for recovery 
    to be implemented here or contact me to tell you how to do it
  </ng-container>

  <ng-container *ngIf="status === 'success'">
    <div class="disclaimer">This app is a work in progress, if you have any funds here, please backup your wallet. 
      I didn't have much time until submission so there is a couple qr codes down there and a json.
    </div>
    <h3>balance</h3>
    {{ walletSrv.balance$ | async}} Nano
    <h3>Seed</h3>
    <qrcode [qrdata]="(walletSrv.wallet$ | async)?.seed" [width]="256"></qrcode>
    <h3>Mnemonic</h3>
    <qrcode [qrdata]="(walletSrv.wallet$ | async)?.mnemonic" [width]="256"></qrcode>
    <h3>Address</h3>
    <qrcode [qrdata]="(walletSrv.wallet$ | async)?.accounts[0].address" [width]="256"></qrcode>
    <h3>JSON</h3>
    {{ walletSrv.wallet$ | async | json }}
  </ng-container>
</ng-container>





