

<div #msgCtnr class="flexGrow messages" (scroll)="onScroll()">
  <app-message 
    *ngFor="let message of (messages$ | async); trackBy"
    class="mg-bottom-s"
    [message]="message"
    [currentUserId]="user?.uid"
    (userClick)="sendNano($event)">
  </app-message>
</div>

<div class="flexVAlign">
  <app-user-picture 
    class="mg-right-s"
    size="2"
    [url]="user?.photoURL">
  </app-user-picture>
  <textarea 
    #inp 
    class="z-1" 
    type="text" 
    placeholder="Type here..."
    name="content"
    autofocus
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    [(ngModel)]="newMsgContent"
    (keydown.enter)="postMessage($event)">
  </textarea>
</div>