:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex-grow: 1;
  app-message {
    margin-bottom: var(--spacing-s);
  }
}

input {
  border: none;
  border-radius: var(--spacing-border-radius);
  padding: var(--spacing-s);
}