
<ng-container *ngIf="geolocationSrv.userCoordinates$ | async as coords">
  <div>
    Chatting in a 100km radius around {{ coords.lat }}, {{ coords.long }}.
  </div>
  <div *ngIf="presenceSrv.onlineUsers$ | async as onlineUsers">
    {{ onlineUsers }} online users here
    <ng-container *ngIf="onlineUsers === 1 && !chatRouterSrv.isGlobal">
      <span (click)="chatRouterSrv.goToGlobalChat()">Click here to go to the global chat</span>
    </ng-container>
  </div>
</ng-container>
<div #msgCtnr class="flexGrow messages" (scroll)="onScroll()">
  <app-message 
    *ngFor="let message of (messages$ | async); trackBy"
    class="mg-bottom-s"
    [message]="message"
    [currentUserId]="user?.uid"
    (sendNano)="sendNano($event)">
  </app-message>
</div>

<div class="flexVAlign input-block">
  <app-user-picture 
    class="mg-right-s"
    size="2"
    [url]="user.image">
  </app-user-picture>
  <textarea 
    #inp 
    class="z-1" 
    type="text" 
    placeholder="Type here..."
    name="content"
    autofocus
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    [(ngModel)]="newMsgContent"
    (focus)="onInputFocus()"
    (keydown.enter)="postMessage($event)">
  </textarea>
  <button mat-icon-button (click)="postMessage($event)" color="primary">
    <fa-icon [icon]="faPaperPlane"></fa-icon>
  </button>
</div>