
<nav>
  <div>
    <div class="header">Graffity</div>
    <a [routerLink]="['/', 'chat']" routerLinkActive="selected">Chat</a>
    <div class="flexColumn pd-left-m" *ngIf="hasLocation">
      <div 
        class="location mg-bottom-s" 
        [ngClass]="{ 'here': isNy() }"
        (click)="goToNewYork()">
        New York
      </div>
      <div 
        class="location mg-bottom-m" 
        [ngClass]="{ 'here': isLoc() }"
        (click)="goToMyLocation()">
        My location
      </div>
    </div>
    <a [routerLink]="['/', 'wallet']" routerLinkActive="selected">Wallet</a>
    <!-- <a [routerLink]="['/', 'theming']" routerLinkActive="selected">Theming</a> -->
  </div>
  <div class="spacer"></div>
  <a class="signout" (click)="signOut()">
    <fa-icon [icon]="signOutIcon"></fa-icon> 
    Sign Out
  </a>
</nav>

<main class="z-2">
  <fa-icon class="trigger" [icon]="barsIcon" (click)="openNav($event)"></fa-icon>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
  
