:host {
  display: block;
  height: 100%;
}

main {
  background: linear-gradient(to bottom, #ffffff, #eeeeee);  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
    overflow: hidden;
  }
}

nav {
  color: var(--color-txt-nav);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location {
  cursor: pointer;
  &.here {
    color: var(--color-accent);
  }
}

.location:hover {
  color: var(--color-accent);
}
