:host {
  display: flex;
  width: 100%;
  nav {
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1), width 0.3s cubic-bezier(.25,.8,.25,1);    
    overflow: hidden;
    color: var(--color-txt-nav);
    .header {
      margin-bottom: var(--spacing-l);
    }
    > * {
      margin-left: var(--spacing-s);
    }
    a {
      margin-bottom: var(--spacing-m);
    }
    a.selected {
      border-left: 2px solid var(--color-accent);
      padding-left: var(--spacing-s);
    }
  }
  main {
    flex-grow: 1;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1), width 0.3s cubic-bezier(.25,.8,.25,1);  
    padding: var(--spacing-s);
  }

  &.nav-opened {
    nav {
      width: 30%;
      padding: var(--spacing-l) 0 var(--spacing-m) 0;
    }
    main {
      transform: scale(0.9) translateX(20%);
      border-radius: 0.4rem;
    }
  }

  &.nav-closed {
    nav {
      width: 0;
    }
  }
}