:host {
  display: flex;
  align-items: center;
  width: 100%;

  main {
    flex-grow: 1;
    box-sizing: border-box;
    padding: var(--spacing-s);
    overflow-y: auto;
  }

  nav {
    width: 15%;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--spacing-l) 0 0 var(--spacing-m);
    .header {
      margin-bottom: var(--spacing-l);
    }
    a {
      margin-bottom: var(--spacing-m);
    }
    a:hover {
      color: var(--color-accent);
    }
    a.selected {
      border-left: 2px solid var(--color-accent);
      padding-left: var(--spacing-s);
    }
  }

  .trigger {
    display: none;
    margin-left: 0.45rem;
    margin-bottom: 0.45rem;
    color: var(--color-primary);
    cursor: pointer;
    &:hover {
      color: var(--color-accent);
    }
  }

  @media screen and (min-width: 1280px) {
    main {
      margin-right: var(--spacing-m);
      height: 90%;
      border-radius: var(--spacing-border-radius);
    }
  }


  @media screen and (max-width: 1279px) {
    nav {
      transform: translate3d(0, 0, 0);
      will-change: transform, width, padding, opacity;
      transition: transform 0.3s cubic-bezier(.25,.8,.25,1), width 0.3s cubic-bezier(.25,.8,.25,1), 
      padding 0.3s cubic-bezier(.25,.8,.25,1), opacity 0.3s cubic-bezier(.25,.8,.25,1) ;
      width: 0;  
    }
    main {
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s cubic-bezier(.25,.8,.25,1), width 0.3s cubic-bezier(.25,.8,.25,1); 
      height: 100%; 
      will-change: transform, width;
    }
    .trigger {
      display: block;
      visibility: hidden;
    }
  
    &.nav-opened {
      nav {
        width: 30%;
      }
      main {
        transform: scale(0.9) translateX(20%);
        border-radius: 0.4rem;
      }
    }
  
    &.nav-closed {
      nav {
        padding-left: 0;
        opacity: 0;
      }
      .trigger {
        visibility: visible;
      }
    }
  }
}