<h1 mat-dialog-title>Wallet Seed</h1>
<div class="flexCenter flexColumn" mat-dialog-content>

  <div class="flexColumn flexCenter">
    <qrcode colordark="#4fb0bd" [qrdata]="walletSrv.wallet.seed" [width]="256"></qrcode>
    <div class="flexCenter under-qr"
      matTooltip="copy"
      [cdkCopyToClipboard]="walletSrv.wallet.mnemonic">
      <fa-icon [icon]="faClone"></fa-icon>
      {{ walletSrv.wallet.mnemonic }}
    </div>
  </div>

</div>


<div mat-dialog-actions class="flexBetween">
  <div class="spacer"></div>
  <button mat-button mat-dialog-close>close</button>
</div>